<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Harjoitustyo - Palvelinohjelmointi</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" th:href="@{css/bootstrap.min.css}"/>
</head>
<body>
<h2 th:inline="text">Moi [[${#httpServletRequest.remoteUser}]]!</h2>
<h1>Lisää tuote jääkaappiin</h1>
<div class="container">
<div class="col-md-4">
<form th:object="${tuote}" th:action=@{save} action="#" method="post">
	<label for="name">Tuote</label>
	<input type="text" id="name" th:field="*{name}" class="form-control"/>
	<input th:if="${#fields.hasErrors('name')}"th:errors="*{name}">Virrrhe/>
	<div style="clear:both; display:block; height: 10px;"></div>
	
	<!-- <label for="date">Parasta ennen</label>
	<input type="date" id="date" th:field="*{date}" class="form-control"/>
	<div style="clear:both; display:block; height: 10px;"></div>
	-->
	<label for="catList">Elintarvikeryhmä</label>
	<!-- määritellään mistä id otetaan -->
	<select id="catList" th:field="*{category}" class="form-control">
		<option th:each="category: ${categories}"
	th:value="${category.category_id}" th:text="${category.categoryName}"></option>
	</select>
	
	<div style="clear:both; display:block; height: 10px;"></div>
	<input type="submit" class="btn btn-warning" value="Tallenna"></input>
</form>
</div>
</div>
</body>
</html>