<!DOCTYPE HTML>
<html xmlns="http://w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Harjoitustyo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h2 th:inline="text">Moi [[${#httpServletRequest.remoteUser}]]!</h2>
<h1>Muokkaa tuotetta</h1>
<form th:object="${tuote}" th:action="@{../save}" action="#" method="post">
	<input type="hidden" th:field="*{id}" class="form-control"/>
	<input type="text" th:field="*{name}"/>
	<input th:if="${#fields.hasErrors('name')}"th:errors="*{name}">Error/>
	<input type="date" th:field="date"/>
	<input type="text" th:field="*{Category}"/>
	<input type="submit" class="btn btn-warning" value="Tallenna"></input>
	</form>
</body>
</html>