<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Harjoitustyo - Palvelinohjelmointi</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}"/>
</head>
<body>
<div class="container">
<div class="col-md-4">
<h1>Jääkaapin sisältö</h1>
</div>
<div class="col-md-4">
<!-- kertoisi käyttäjälle, millä käyttäjänimellä on kirjautunut. Jos toimisi. -->
<h2 th:inline="text">Moi [[${#httpServletRequest.remoteUser}]]!</h2>
</div>
<div class="col-md-4" style="padding:20px 0">
<form th:action="@{/logout}" method="post">
	<input type="submit" value="Kirjaudu ulos" class="btn btn-md btn-warning"/>
	</form>
</div>
<table class="table table-striped">
	<tr>
		<th>Tuote</th>
		<th>Käyttöpäivä</th>
		<th>Elintarvikeluokka</th>
		<th sec:authorize="hasAuthority('ADMIN')"> </th>
		</tr>
		<tr th:each = "tuote : ${tuotteet}">
		<td th:text="${tuote.name}"></td>
		<td th:date="${tuote.date}"></td>
		<td th:text="${tuote.category.categoryName}"></td>

<!-- id sama kuin controllerissa, suluissa selitys mihin viittaa -->
<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/delete/{id}(id=${tuote.tuoteid})}" class="btn btn-md btn-danger">Poista</a></td>

</tr>
</table>
<a sec:authorize="hasRole('ADMIN')"> th:href="/add" class="btn btn-lg btn-danger">Lisää tuote</a>
</div>
</body>
</html>